PROJECT_NAME=

# GITHUB
GITHUB_PERSONAL_ACCESS_TOKEN=

# STITCH
STITCH_API_KEY=

# VERCEL
VERCEL_API_TOKEN=

# CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

#Database
DATABASE_URL=

#Backend para Frontend
NEXT_PUBLIC_API_URL=

#Portas
FRONTEND_PORT=
BACKEND_PORT=

